@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a; /* Slate 900 */
  --primary: #2563eb;    /* Blue 600 */
  --primary-foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}
